@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* Buen color bordo color: #6a2b21;*/

* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    color: #fffff8;
}

body {
    background-color: #212c42 !important;
}

h1,
h2{
    color: #e9ffd8 !important;
}



input[type = "text"],
input[type = "number"],
input[type = "file"],
input[type = "password"],
input[type = "date"],
select,
textarea {
    background-color: #192233;
    border: 1px #db6ab5;
    color: #fff;
}

input[type = "text"]:focus,
input[type = "number"]:focus,
input[type = "password"]:focus,
input[type = "date"]:focus,
select:focus {
    background-color: #192233;
    color: #fff;
}

.btn-dark {
    background-color: #192233 !important;
    border-color: #151B28 !important;
    border-radius: 10px !important;
}

.vh-90 {
    height: 90vh;
}

/**
    Layout
 */
#layout {
    background-color: #192233 !important;
}

h1,
.navbar-brand {
    font-family: 'Lobster', cursive;
}

/**
    Homepage.ejs
 */
.homeCards {
    background-color: #1e273a !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    height: 128px;
    width: 128px;
}

.homeCards h2{
    font-weight: bold;
    font-size: 30px;
}

/**
    Login.ejs
 */
#formLogin {
    height: 90vh;
}

.form-group label {
    font-size: 24px;
}


/**
    Rental
 */
.rentalCards {
    background-color: #1e273a !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px !important;
}

.rentalCards h4{
    color: #e9ffd8 !important;
}

.rentalCards p{
    color: #d2d5da !important;
}

/**
    Customer
 */

table {
    border-collapse: separate !important;
    background-color: #212c42 !important;
}

#rowsTable {
    background-color: #192233 !important;
}

.fa-id-card {
    font-size: 150%;
}
