<div class="container text-center vh-90">

    <h1 class="display-4 pb-3 pt-3">Alquileres del Valle</h1>

    <div id="homepage" class="row pt-3 border-top border-dark">
        <% if (req.session.user){ %>
            <% for (let alojamiento of alojamientos) { %>

                <div class="col-lg-6 col-md-12 mb-3">
                    <h2 class="pt-2 display-4 mt-2"><%- alojamiento.name %> </h2>
                    <div class="card homeCards border py-3 rounded-pill mb-2">
                        <img class="card-img-top align-self-center" src="<%- alojamiento.image %>">
                        <div class="card-body align-middle d-flex flex-column align-items-center p-0">
                            <a class="btn btn-dark text-white my-3" role="button" href="rental/<%- alojamiento.id %>">Ver
                                estadías</a>
                            <a class="btn btn-dark text-white my-1" href="/newRental/<%- alojamiento.id %>"
                               role="button">Ingresar nueva estadía</a>
                        </div>
                    </div>
                </div>

            <% } %>
    </div>
    <% } else { %>
        <div class="pt-2 mt-5 w-100">
            <h2 class="pb-5">Inicia sesión para ver el contenido</h2>

            <a href="/login" type="submit" class="btn btn-dark btn-lg pt-2">Iniciar Sesión</a>
        </div>
    <% } %>

</div>
