<form id="formLogin" method="POST" action="/login"
    class="d-flex flex-column text-center justify-content-center align-items-center">

    <div class="form-group w-50">
        <label for="user"><b>Usuario</b></label>
        <input type="text" class="form-control" id="user" name="user">
        <small id="emailHelp" class="form-text text-muted">Ingrese su usuario.</small>
    </div>

    <div class="form-group w-50">
        <label for="password"><b>Contraseña</b></label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>

</form>
