<form id="formLogin" method="POST" action="/newCustomer">

    <div class="d-flex flex-column align-items-center text-center">
        <div class="form-group w-25">
            <label for="fullName"><b>Nombre y Apellido</b></label>
            <input type="text" class="form-control" id="fullName" name="fullName">
        </div>

        <div class="form-group w-25">
            <label for="members"><b>Cantidad de personas</b></label>
            <input type="number" class="form-control" id="members" name="members">
        </div>

        <div class="form-group w-25">
            <label for="city"><b>Ciudad</b></label>
            <input type="text" class="form-control" id="city" name="city">
        </div>

        <div class="form-group w-25">
            <label for="licensePlate"><b>Número de patente</b></label>
            <input type="text" class="form-control" id="licensePlate" name="licensePlate">
        </div>

        <button type="submit" class="btn btn-primary btn-block w-25">Dar de alta</button>

    </div>
</form>

