<form id="formLogin" method="POST" action="/newCustomer"
      class="d-flex flex-column text-center justify-content-center align-items-center mt-5">

    <div class="form-group w-25">
        <label for="name"><b>Nombre</b></label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group w-25">
        <label for="lastName"><b>Apellido</b></label>
        <input type="text" class="form-control" id="lastName" name="lastName">
    </div>

    <div class="form-group w-25">
        <label for="members"><b>Cantidad de personas</b></label>
        <input type="number" class="form-control" id="members" name="members">
    </div>

    <div class="form-group w-25">
        <label for="city"><b>Ciudad</b></label>
        <input type="text" class="form-control" id="city" name="city">
    </div>

    <div class="form-group w-25">
        <label for="licensePlate"><b>Número de patente</b></label>
        <input type="text" class="form-control" id="licensePlate" name="licensePlate">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Dar de alta</button>

</form>
